section{
  background-color: rgb(65 63 64);
  .gallery{
    background-image: url(../images/finish.jpg);
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: 750px;
    .card{ 
       position: relative;
    width: 250px;
    height:260px;
    cursor: position;
    transition: 1s ease-in-out;
    transform-style:preserve-3d ;
    &:hover{
      transform:rotateY(0.5turn);
    }
      .card__side{
        position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
   width: 100%; 
   height: 100%;
   transition: 1s ease-in-out;
        img{
           width: 250px;
    height: 260px;
    object-fit: cover;
        }
      }
      .card__side--back{
        transform: rotateY(0.5turn);
      }
    }
  }
}